In [1]:
import pandas as pd

In [23]:
csv_file = "../ETL-Project/results_clean.csv"
df = pd.read_csv(csv_file)
csv_file2 = "../ETL-Project/transformed_tourney.csv"
df_tourney = pd.read_csv(csv_file2)

In [3]:
df['Winning_total_rebounds']=df['Wor']+df['Wdr']

In [4]:
df['Winning_field_goal_%']=df['Wfgm']/df['Wfga']*100

In [5]:
df['Winning_3_%']=df['Wfgm3']/df['Wfga3']*100

In [6]:
df['Winning_free_throw_%']=df['Wftm']/df['Wfta']*100

In [7]:
df['Losing_total_rebounds']=df['Lor']+df['Ldr']

In [8]:
df['Losing_field_goal_%']=df['Wfgm']/df['Wfga']*100

In [9]:
df['Losing_3_%']=df['Lfgm3']/df['Lfga3']*100

In [10]:
df['Losing_free_throw_%']=df['Lftm']/df['Lfta']*100

In [12]:
df2 = df[['season','winning_team','winning_score',\
          'losing_team','losing_score','Winning_field_goal_%','Winning_3_%','Winning_free_throw_%'\
          ,'Winning_total_rebounds','Wast','Wto','Wstl','Losing_field_goal_%','Losing_3_%','Losing_free_throw_%'\
         ,'Losing_total_rebounds','Last','Lto','Lstl']]

In [16]:
df2 = df2.rename(columns={'Wast':'Winning_assists','Wto':'Winning_turnovers','Wstl':'Winning_steals',\
                          'Last':'Losing_assists','Lto':'Losing_turnovers','Lstl':'Losing_steals'})
df2.head()

,season,winning_team,winning_score,losing_team,losing_score,Winning_field_goal_%,Winning_3_%,Winning_free_throw_%,Winning_total_rebounds,Winning_assists,Winning_turnovers,Winning_steals,Losing_field_goal_%,Losing_3_%,Losing_free_throw_%,Losing_total_rebounds,Losing_assists,Losing_turnovers,Losing_steals
0,2003,Alabama,68,Oklahoma,62,46.551724,21.428571,61.111111,38,13,23,7,46.551724,20.000000,72.727273,32,8,18,9
1,2003,Memphis,70,Syracuse,63,41.935484,40.000000,52.631579,43,16,13,4,41.935484,25.000000,45.000000,45,7,12,8
2,2003,Marquette,73,Villanova,61,41.379310,44.444444,58.620690,43,15,10,5,41.379310,11.538462,60.869565,53,9,12,2
3,2003,N Illinois,56,Winthrop,50,47.368421,33.333333,54.838710,25,11,12,14,47.368421,27.272727,53.333333,37,9,19,4
4,2003,Texas,77,Georgia,71,49.180328,42.857143,84.615385,39,12,14,4,49.180328,37.500000,62.962963,36,12,10,7

In [20]:
df2.to_csv('Results_new_clean.csv')

In [26]:
del df_tourney['Unnamed: 0']

In [30]:
df_tourney.to_csv('Tourney_new_clean.csv')